{% load static %}
<nav class="navbar navbar-expand-lg navbar-light shadow">
    <a class="navbar-brand logo mx-5" href="../">
        <img src="{% static 'img/logo.png' %}" class="img-fluid w-100" >
    </a>
    <div class="container d-flex justify-content-between align-items-center">
        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between" id="templatemo_main_nav">
            <div class="flex-fill">
                <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
                    <li class="nav-item">
                        <b><a class="nav-link" href="" id="menuR">MENU</a></b>
                    </li>
                    <li class="nav-item">
                        <b><a class="nav-link" href="" id="productosR">PRODUCTOS</a></b>
                    </li>
                    <li class="nav-item">
                        <b><a class="nav-link" href="" id="proveedoresR">PROVEEDORES</a></b>
                    </li>
                    <li class="nav-item">
                        <b><a class="nav-link" href="" id="usuariosR">USUARIOS</a></b>
                    </li>
                    <li class="nav-item">
                        <b><a class="nav-link" href="" id="comprasR">COMPRAS</a></b>
                    </li>
                    <li class="nav-item">
                        <b><a class="nav-link" href="" id="ventasR">VENTAS</a></b>
                    </li>
                    <li class="nav-item">
                        <b><a class="nav-link" href="" id="analisisR">ANALISIS</a></b>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>