
<div class="container w-100">
    <div class="row">
        <div class="w-50">
            <img src="../../../../static/img/detalle_producto.png" style="width: 100%; height: 600px;" >
            <div class="row w-100 mx-5">
                <img src="../../../../static/img/detalle_producto_1.png" style="width: 40%;" class="mx-4 mt-4">
                <img src="../../../../static/img/detalle_producto_1.png" style="width: 40%;" class="mx-4 mt-4">
            </div>
        </div>
        <div class="w-50">
            <table class="table table-borderless">
                <thead>
                </thead>
                <tbody>
                    <tr>
                        <td >
                            <p class="fs-5"> 
                                Descripcion:
                            </p>
                            <p>
                                {{ producto.descripcion }}
                            </p>
                            <br>
                            <p>                                
                                Proveedor: <a href="../../../../proveedores/detalle_proveedor/{{ usuario }}/{{proveedor.id}}" class="text-danger">{{proveedor.nombre}}</a>
                            </p>
                        </td>
                    </tr>
                    
                </tbody>
            </table>
            
            <a href="../../../editar_producto_vista/{{ usuario }}/{{ producto.id }}/"><button type="button" class="btn btn-danger btn-lg w-100 m-5">EDITAR</button></a>
            <button type="button" class="btn btn-danger btn-lg w-100 mx-5">ORDENAR</button>
        </div>
    </div>
</div>
<div class="fs-1 text-danger text-center mt-5">
    <b>Otros Productos Disponibles</b>
</div>
{% block detalle_proveedor %}
    {{ detalle_proveedor | safe }}
{% endblock %}
