<div class="container">
    <table class="table table-borderless my-4">
    <thead>
    </thead>
    <tbody>
        <tr>
            <td>
                <div class="row">
                    <div class="card shadow bg-body rounded">
                        <div class="row">
                            <div class="card-body w-50">
                                <h5 class="card-title mx-4">Perros Calientes</h5>
                                <p class="card-text mx-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eius mod tempor incididunt ut labore et dolore magna.</p>
                                <div class="mx-4"><b>Desde $XXXXXX</b></div>
                            </div>
                            <div class="w-25">
                                <img src="/static/img/productos_5.png" class="w-100 my-2">
                            </div>
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <div class="row px-4">
                    <div class="card shadow bg-body rounded">
                        <div class="row">
                            <div class="card-body w-50">
                                <h5 class="card-title mx-4">Sandwiches</h5>
                                <p class="card-text mx-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eius mod tempor incididunt ut labore et dolore magna.</p>
                                <div class="mx-4"><b>Desde $XXXXXX</b></div>
                            </div>
                            <div class="w-25">
                                <img src="/static/img/productos_4.png" class="w-100 my-2">
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="row">
                    <div class="card shadow bg-body rounded">
                        <div class="row">
                            <div class="card-body w-50">
                                <h5 class="card-title mx-4">Salchipapas</h5>
                                <p class="card-text mx-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eius mod tempor incididunt ut labore et dolore magna.</p>
                                <div class="mx-4"><b>Desde $XXXXXX</b></div>
                            </div>
                            <div class="w-25">
                                <img src="/static/img/productos_3.png" class="w-100 my-2">
                            </div>
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <div class="row px-4">
                    <div class="card shadow bg-body rounded">
                        <div class="row">
                            <div class="card-body w-50">
                                <h5 class="card-title mx-4">Picadas</h5>
                                <p class="card-text mx-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eius mod tempor incididunt ut labore et dolore magna.</p>
                                <div class="mx-4"><b>Desde $XXXXXX</b></div>
                            </div>
                            <div class="w-25">
                                <img src="/static/img/productos_1.png" class="w-100 my-2">
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        
    </tbody>
</table>

</div>