{% load static %}
<img src="" class="img-fluid w-100" >
<div class="card" style="width: 100%; border: 0px !important;">
    <img src="{% static 'img/banner.png' %}">
    <div class="position-absolute my-5 w-100">
        <div class="text-center mt-5 text-white fs-1">
            <b>
                {% block banner_title %}
                    {{ banner_title | safe }}
                {% endblock %}
            </b>
        </div>
    </div>
    <div class="position-absolute top-50 w-100">
        <div class="text-center text-white h5">
            {% block banner_texto %}
                {{ banner_texto | safe }}
            {% endblock %}
        </div>
    </div>  
    <div class="container px-5">
        <div class="card-body px-5 mx-5">
            <h5 class="card-title">
                <div class="text-center">
                    {% block banner_subtitle %}
                        {{ banner_subtitle | safe }}
                    {% endblock %}
                </div>
            </h5>
            <div class="card-text text-center">
                {% block banner_subtexto %}
                    {{ banner_subtexto | safe }}
                {% endblock %}
            </div>
        </div>
    </div>
  </div>