<div class="container">
    <div class="card w-100 shadow my-4 p-3 ml-5 bg-body rounded" style="width: 18rem;">
        <div class="row">
            <div class="card-body w-75">
                <h5 class="card-title mx-4">Jose Alberto</h5>
                <p class="card-text mx-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eius mod tempor incididunt ut labore et dolore magna.</p>
            </div>
            <div class="w-25 my-3">
                <img src="/static/img/persona.png" class="w-75">
            </div>
        </div>
    </div>
    <a href="../detalle_usuario/" class="text-dark text-decoration-none">
        <div class="card w-100 shadow my-4 p-3 ml-5 bg-body rounded" style="width: 18rem;">
            <div class="row">
                <div class="card-body w-75">
                    <h5 class="card-title mx-4">Daniela Josefa</h5>
                    <p class="card-text mx-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eius mod tempor incididunt ut labore et dolore magna.</p>
                </div>
                <div class="w-25 my-3">
                    <img src="/static/img/persona_4.png" class="w-75">
                </div>
            </div>
        </div>
    </a>

    <div class="card w-100 shadow my-4 p-3 ml-5 bg-body rounded" style="width: 18rem;">
        <div class="row">
            <div class="card-body w-75">
                <h5 class="card-title mx-4">Diego Andrade</h5>
                <p class="card-text mx-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eius mod tempor incididunt ut labore et dolore magna.</p>
            </div>
            <div class="w-25 my-3">
                <img src="/static/img/persona_1.png" class="w-75">
            </div>
        </div>
    </div>
    <div class="card w-100 shadow my-4 p-3 ml-5 bg-body rounded" style="width: 18rem;">
        <div class="row">
            <div class="card-body w-75">
                <h5 class="card-title mx-4">Manuela Gutierrez</h5>
                <p class="card-text mx-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eius mod tempor incididunt ut labore et dolore magna.</p>
            </div>
            <div class="w-25 my-3">
                <img src="/static/img/persona_2.png" class="w-75">
            </div>
        </div>
    </div>
</div>