<ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
    <li class="nav-item">
        <b><a class="nav-link" href="../menu/">MENU</a></b>
    </li>
    <li class="nav-item">
        <b><a class="nav-link" href="../productos/">PRODUCTOS</a></b>
    </li>
    <li class="nav-item">
        <b><a class="nav-link" href="../proveedores/">PROVEEDORES</a></b>
    </li>
    <li class="nav-item">
        <b><a class="nav-link" href="../usuarios/">USUARIOS</a></b>
    </li>
    <li class="nav-item">
        <b><a class="nav-link" href="../compras/">COMPRAS</a></b>
    </li>
    <li class="nav-item">
        <b><a class="nav-link" href="../ventas/">VENTAS</a></b>
    </li>
    <li class="nav-item">
        <b><a class="nav-link" href="../analisis/">ANALISIS</a></b>
    </li>
</ul>